*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-red: #d03b40;
    --color-beige: #ded6c0;
    --color-white: #f5f0ed;
    --color-grey: #241d1b;
}

.container{
    width: 90%;
    margin: auto;
    max-width: 1920px;
}

header{
    background-image: url(/images/Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    padding: 10px;
    border-left: 1px solid red;
    color: var();
}

header label:hover{
    cursor: pointer;
    background: rgba(235, 7, 7, 0.3)
}

.menu ul{
    list-style: none;
    display: flex;
    float: right;
    margin-top: 10px;
}

.menu ul li{
     display: block;
     padding: 15px 20px;
     color: var(--color-white);
     text-decoration: none;
}

.menu li:hover{
    background: rgb(0, 0, 0, 0.3)
}

/* title */

.title{
    margin-top: 17%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}

.title h1{
    color: var(--color-white);
}

h1:after{
    display: block;
    height: 2px;
    background-color: var(--color-white);    ;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    content: "";
}

.text-header{
    display: flex;
    justify-content: center;
}

.text-header p {
    width: 38%;
    color: var(--color-white);
    margin-bottom: 17%;
    text-align: center;
}

/* section brunch */

.come{
    overflow: hidden;
}

.brunch, .party, .party-two, .brunch-two{
    height: 50vh;
    width: 50%;
    float: left;
    /* overflow: hidden; */
}

.brunch{
    background-color: var(--color-red);
}

.brunch-two{
    background-color: var(--color-beige);
}

.party{
    background-color: var(--color-beige);
}

.party-two {
    background-color: var(--color-red);
}

.brunch h2{
    color: var(--color-beige);
}

.brunch-two h2{
    color: var(--color-red);
}

.brunch p{
    color: var(--color-beige);
}

.brunch-two p{
    color: var(--color-red);
}

.party h2{
    color:var(--color-red);
}

.party-two h2{
    color: var(--color-beige);
}

.party p{
    color:var(--color-red);
}

.party-two p{
    color: var(--color-beige);
}

.brunch h2, .party h2, .brunch-two h2, .party-two h2{
    margin-top: 15%;
    text-align: center;
    margin-bottom: 8%;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.brunch p, .party p, .party-two p, .brunch-two p{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* Section breakfast */

.breakfast{
    background-image: url(/images/Fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-br{
    /* margin-top: 17%; */
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}

.title-br h1{
    color: var(--color-white);
    overflow: hidden;
    margin-top: 15%;
    text-transform: uppercase;
    font-size: 50px;
}

h1:after{
    display: block;
    height: 2px;
    background-color: var(--color-white);    ;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    content: "";
}

.text-header-br{
    display: flex;
    justify-content: center;
}

.text-header-br p {
    width: 38%;
    color: var(--color-white);
    margin-bottom: 5%;
    text-align: center;
}

.button-br{
    display: flex;
    justify-content: center;
}

.button-br button{
    padding: 10px 30px;
    margin-bottom: 150px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border: 5px solid var(--color-white);
}

.button-br button{
    text-transform: uppercase;
    color: var(--color-white);
}

/* Ingredients section */

.bread-candie{
    overflow: hidden;
}

.ingredients-section{
    overflow: hidden;
}

.bread-first{
    display: flex;
    /* margin-top: 50px; */
    margin-bottom: 30px;
    overflow: hidden;
}

.candies-first{
    display: flex;
    overflow: hidden;
    /* margin-bottom: 50px; */
}

.text-bread, .text-candie{
    margin-left: 20px;
}

.bread-part, .tarta-part, .candie-part, .ingredient-part{
    display: flex;
    width: 50%;
}

.text-candie p, .text-bread p{
    text-align: justify;
}

.bread-part, .tarta-part{
    margin-top: 50px;
    margin-bottom: 20px;
}

.candie-part, .ingredient-part{
    margin-bottom: 50px;
}

.bread-first p, .candies-first p{
    text-align: justify;
    width: 80%;
    margin-top: 5px;
    color: var(--color-grey);
}

/* footer section */

footer{
    background-color: var(--color-grey);
    padding: 45px;
}

footer p{
    color: var(--color-white);
}

@media (max-width:768px){
    .menu ul{
        font-size: 12px;
        margin-top: 10px;
    }
}

@media (max-width:480px){
    .menu ul{
        font-size: 10px;
    }

    .text-header p{
        width: 100%;
        margin-top: 5%;
    }

    .brunch, .party{
        width: 100%;
    }

    .brunch h2, .party h2{
        margin-top: 10%;
    }

    .title-br h1{
        margin-top: 80px;
        font-size: 40px;
    }

    .bread-first, .candies-first{
        display: contents;
    }

    .bread-part, .tarta-part, .candie-part, .ingredient-part{
        width: 100%;
    }

    .tarta-part{
        margin-bottom: 80px;
    }
}
    @media (max-width:320px){
     .menu{
         overflow: hidden;
     }   

     .menu ul{
         display: contents;
         font-size: 13px;
     }

     .title-br h1{
         text-align: center;
     }

     .bread-part, .tarta-part, .candie-part, .ingredient-part{
        display: contents;
    }

    .bread-img, .tarta-img, .candie-img, .ingredient-img{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .text-candie{
        margin-bottom: 30px;
    }

    .brunch-two h2, .party-two h2{
        width: 100%;
    }
    }