*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: auto;
    max-width: 1920px;
}

header{
    background-image: url(/images/Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    /* height: 30px; */
    padding: 10px;
    border-left: 1px solid red;
    color: #fff;
}

header label:hover{
    cursor: pointer;
    background: rgba(235, 7, 7, 0.3)
}

.menu ul{
    /* margin: 0; */
    list-style: none;
    display: flex;
    float: right;
}

.menu ul li{
     display: block;
     padding: 15px 20px;
     color: #fff;
     text-decoration: none;
}

.menu li:hover{
    background: rgb(0, 0, 0, 0.3)
}

/* title */

.title{
    margin-top: 17%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}

.title h1{
    color: #fff
}

h1:after{
    display: block;
    height: 2px;
    background-color: #fff;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    content: "";
}

.text-header{
    display: flex;
    justify-content: center;
}

.text-header p {
    width: 38%;
    color: #fff;
    margin-bottom: 17%;
    text-align: center;
}
